{% load custom_filters %}

<h1>{{ user_profile_data.name }}'s Chess Profile</h1>
<p>Username: {{ user_profile_data.username }}</p>
<p>Joined: {{ user_profile_data.joined|unix_to_date }}</p>
<p>Last active: {{ user_profile_data.last_online|unix_to_date }}</p>

{% for stat in chess_stats %}
<p>
    {{ stat.type }}:
    Current Rating: {{ stat.current_rating }} &ensp; Date: {{ stat.current_date|unix_to_date }} &emsp;
    Highest Rating: {{ stat.best_rating }} &ensp; Date: {{ stat.best_date|unix_to_date }} <br>
    All time record: <br>
    Wins: {{ stat.wins }} {{ stat.win_rate }}% &emsp; Losses: {{ stat.losses }} {{ stat.loss_rate }}% &emsp; Draws: {{ stat.draws }} {{ stat.draw_rate }}%
</p>
{% endfor %}

<br><br>
{% if rating_chart_over_time %}
<h2>Rating Chart</h2>
<img src="data:image/png;base64,{{ rating_chart_over_time }}" alt="Rating Chart">
{% endif %}

{% if openings_win_loss_chart %}
<h2>Wins Chart</h2>
<img src="data:image/png;base64,{{ openings_win_loss_chart }}" alt="Openings Chart">
{% endif %}

{% if wins_by_day_chart %}
<h2>Days Chart</h2>
{% comment %} <img src="data:image/png;base64,{{ wins_by_day_chart }}" alt="Days Chart"> {% endcomment %}
{{ wins_by_day_chart }}
{% endif %}